In [1]:
import pandas as pd

In [3]:
bb=pd.read_csv('/content/student-dataset.csv')

In [9]:
print(bb.head(3))

   id            name               nationality           city  latitude  \
0   0       Kiana Lor                     China         Suzhou     31.31
1   1  Joshua Lonaker  United States of America  Santa Clarita     34.39
2   2   Dakota Blanco  United States of America        Oakland     37.80

   longitude gender  ethnic.group  age  english.grade  math.grade  \
0     120.62      F           NaN   22            3.5         3.7
1    -118.54      M           NaN   22            2.9         3.2
2    -122.27      F           NaN   22            3.9         3.8

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0

   refletter.rating
0                 4
1                 5
2                 4

In [8]:
print(bb.tail(3))

      id               name               nationality         city  latitude  \
304  304  Zachary Mulvahill  United States of America  Los Angeles     34.05
305  305   Eliana Michelsen  United States of America      Oakland     37.80
306  306    Dane Whittemore                    Canada      Toronto     43.67

     longitude gender  ethnic.group  age  english.grade  math.grade  \
304    -118.24      M           NaN   20            3.2         3.4
305    -122.27      F           NaN   23            3.0         2.8
306     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
304                 3
305                 5
306                 5

In [10]:
print(bb.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB
None

In [11]:
print(bb.describe())

               id    latitude   longitude  ethnic.group         age  \
count  307.000000  307.000000  307.000000           0.0  307.000000
mean   153.000000   32.863388  -64.539121           NaN   21.964169
std     88.767487   13.498582   81.249146           NaN    1.248013
min      0.000000  -33.450000 -123.130000           NaN   19.000000
25%     76.500000   32.720000 -118.240000           NaN   21.000000
50%    153.000000   34.390000  -99.140000           NaN   22.000000
75%    229.500000   38.960000  -73.855000           NaN   23.000000
max    306.000000   59.890000  139.750000           NaN   26.000000

       english.grade  math.grade  sciences.grade  language.grade  \
count     307.000000  307.000000      307.000000      307.000000
mean        3.369707    3.414332        3.446580        4.396417
std         0.538724    0.476839        0.509081        0.996474
min         1.500000    2.100000        1.400000        1.000000
25%         3.100000    3.100000        3.200000        4.000000
50%         3.500000    3.500000        3.600000        5.000000
75%         3.800000    3.800000        3.800000        5.000000
max         4.000000    4.000000        4.000000        5.000000

       portfolio.rating  coverletter.rating  refletter.rating
count        307.000000          307.000000        307.000000
mean           3.986971            4.110749          4.188925
std            0.928749            0.823936          0.842193
min            1.000000            1.000000          1.000000
25%            3.500000            4.000000          4.000000
50%            4.000000            4.000000          4.000000
75%            5.000000            5.000000          5.000000
max            5.000000            5.000000          5.000000

In [12]:
print(bb.columns)

Index(['id', 'name', 'nationality', 'city', 'latitude', 'longitude', 'gender',
       'ethnic.group', 'age', 'english.grade', 'math.grade', 'sciences.grade',
       'language.grade', 'portfolio.rating', 'coverletter.rating',
       'refletter.rating'],
      dtype='object')

In [13]:
print(bb["city"])

0                   Suzhou
1            Santa Clarita
2                  Oakland
3            Castro Valley
4      São José dos Campos
              ...
302               Columbus
303            Los Angeles
304            Los Angeles
305                Oakland
306                Toronto
Name: city, Length: 307, dtype: object

In [14]:
print(bb[["name","city"]])

                  name                 city
0            Kiana Lor               Suzhou
1       Joshua Lonaker        Santa Clarita
2        Dakota Blanco              Oakland
3      Natasha Yarusso        Castro Valley
4       Brooke Cazares  São José dos Campos
..                 ...                  ...
302        Austin Haas             Columbus
303    Madison Fithian          Los Angeles
304  Zachary Mulvahill          Los Angeles
305   Eliana Michelsen              Oakland
306    Dane Whittemore              Toronto

[307 rows x 2 columns]

In [15]:
print(bb.iloc[1])

id                                           1
name                            Joshua Lonaker
nationality           United States of America
city                             Santa Clarita
latitude                                 34.39
longitude                              -118.54
gender                                       M
ethnic.group                               NaN
age                                         22
english.grade                              2.9
math.grade                                 3.2
sciences.grade                             3.6
language.grade                             5.0
portfolio.rating                             5
coverletter.rating                         4.0
refletter.rating                             5
Name: 1, dtype: object

In [16]:
print(bb.iloc[1:3])

   id            name               nationality           city  latitude  \
1   1  Joshua Lonaker  United States of America  Santa Clarita     34.39
2   2   Dakota Blanco  United States of America        Oakland     37.80

   longitude gender  ethnic.group  age  english.grade  math.grade  \
1    -118.54      M           NaN   22            2.9         3.2
2    -122.27      F           NaN   22            3.9         3.8

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0

   refletter.rating
1                 5
2                 4

In [18]:
print(bb[bb["age"]>22])

      id                  name               nationality        city  \
8      8              Lee Dong               Philippines      Manila
10    10        Maja Nicholson  United States of America      Dallas
13    13         Edgar Sanchez                    Mexico     Tijuana
17    17        Ericka Arreola                    Mexico      Mexico
18    18            David Pulc                    Canada     Toronto
..   ...                   ...                       ...         ...
297  297            Cody Smith  United States of America   Charlotte
298  298          Nicolas Papp  United States of America    New York
299  299  Christopher Inhulsen  United States of America  Fort Worth
301  301      Vanessa Gonzalez                 Nicaragua        León
305  305      Eliana Michelsen  United States of America     Oakland

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
8       14.60     120.98      F           NaN   24            3.9         3.6
10      32.78     -96.80      F           NaN   23            3.4         3.5
13      32.53    -117.02      M           NaN   23            3.7         3.5
17      19.43     -99.14  other           NaN   23            3.1         3.5
18      43.67     -79.42      M           NaN   24            3.9         2.9
..        ...        ...    ...           ...  ...            ...         ...
297     35.23     -80.84      M           NaN   23            3.8         3.5
298     40.71     -74.01      M           NaN   23            2.7         3.7
299     32.73     -97.32      M           NaN   23            3.1         3.3
301     12.44     -86.88      F           NaN   24            3.3         3.7
305     37.80    -122.27      F           NaN   23            3.0         2.8

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
8               3.2             2.0                 4                 3.0
10              3.2             5.0                 4                 2.0
13              4.0             4.0                 4                 5.0
17              2.8             4.0                 4                 3.0
18              4.0             5.0                 5                 4.0
..              ...             ...               ...                 ...
297             3.9             5.0                 5                 2.0
298             3.9             5.0                 5                 4.0
299             2.9             5.0                 2                 4.0
301             3.8             3.0                 5                 5.0
305             2.9             5.0                 4                 4.0

     refletter.rating
8                   5
10                  5
13                  5
17                  4
18                  2
..                ...
297                 5
298                 4
299                 4
301                 4
305                 5

[104 rows x 16 columns]

In [19]:
print(bb.dtypes)

id                      int64
name                   object
nationality            object
city                   object
latitude              float64
longitude             float64
gender                 object
ethnic.group          float64
age                     int64
english.grade         float64
math.grade            float64
sciences.grade        float64
language.grade        float64
portfolio.rating        int64
coverletter.rating    float64
refletter.rating        int64
dtype: object

In [20]:
print(bb["age"].astype(float))

0      22.0
1      22.0
2      22.0
3      20.0
4      21.0
       ...
302    20.0
303    20.0
304    20.0
305    23.0
306    21.0
Name: age, Length: 307, dtype: float64

In [21]:
bb["age"]=bb["age"].astype(float)
print(bb)

      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group   age  english.grade  \
0       31.31     120.62      F           NaN  22.0            3.5
1       34.39    -118.54      M           NaN  22.0            2.9
2       37.80    -122.27      F           NaN  22.0            3.9
3       37.69    -122.09      F           NaN  20.0            3.3
4      -23.18     -45.88      F           NaN  21.0            3.7
..        ...        ...    ...           ...   ...            ...
302     39.96     -83.00      M           NaN  20.0            3.6
303     34.05    -118.24      F           NaN  20.0            3.6
304     34.05    -118.24      M           NaN  20.0            3.2
305     37.80    -122.27      F           NaN  23.0            3.0
306     43.67     -79.42      M           NaN  21.0            3.8

     math.grade  sciences.grade  language.grade  portfolio.rating  \
0           3.7             3.1             1.0                 4
1           3.2             3.6             5.0                 5
2           3.8             3.2             5.0                 3
3           2.8             3.2             5.0                 5
4           2.6             3.4             1.0                 4
..          ...             ...             ...               ...
302         3.7             3.1             5.0                 4
303         3.9             4.0             5.0                 5
304         3.4             3.9             5.0                 5
305         2.8             2.9             5.0                 4
306         3.2             4.0             5.0                 5

     coverletter.rating  refletter.rating
0                   4.0                 4
1                   4.0                 5
2                   3.0                 4
3                   2.0                 4
4                   4.0                 5
..                  ...               ...
302                 5.0                 5
303                 5.0                 3
304                 5.0                 3
305                 4.0                 5
306                 4.0                 5

[307 rows x 16 columns]

In [24]:
bb.drop("latitude",axis=1,inplace=True)
print(bb)

      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     longitude gender  ethnic.group   age  english.grade  math.grade  \
0       120.62      F           NaN  22.0            3.5         3.7
1      -118.54      M           NaN  22.0            2.9         3.2
2      -122.27      F           NaN  22.0            3.9         3.8
3      -122.09      F           NaN  20.0            3.3         2.8
4       -45.88      F           NaN  21.0            3.7         2.6
..         ...    ...           ...   ...            ...         ...
302     -83.00      M           NaN  20.0            3.6         3.7
303    -118.24      F           NaN  20.0            3.6         3.9
304    -118.24      M           NaN  20.0            3.2         3.4
305    -122.27      F           NaN  23.0            3.0         2.8
306     -79.42      M           NaN  21.0            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 15 columns]

In [25]:
bb.rename(columns={"name":"student_name"},inplace=True)
print(bb)

      id       student_name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     longitude gender  ethnic.group   age  english.grade  math.grade  \
0       120.62      F           NaN  22.0            3.5         3.7
1      -118.54      M           NaN  22.0            2.9         3.2
2      -122.27      F           NaN  22.0            3.9         3.8
3      -122.09      F           NaN  20.0            3.3         2.8
4       -45.88      F           NaN  21.0            3.7         2.6
..         ...    ...           ...   ...            ...         ...
302     -83.00      M           NaN  20.0            3.6         3.7
303    -118.24      F           NaN  20.0            3.6         3.9
304    -118.24      M           NaN  20.0            3.2         3.4
305    -122.27      F           NaN  23.0            3.0         2.8
306     -79.42      M           NaN  21.0            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 15 columns]

In [29]:
bb.sort_values(by="student_name",ascending=True,inplace=True)
print(bb)

      id            student_name               nationality         city  \
172  172        Aaqil el-Hashemi                     India    Bangalore
204  204             Aaron Knott  United States of America    Santa Ana
150  150  Abdul Jabbaar el-Abdul                     Egypt        Cairo
226  226        Abigail Gallegos                    Brazil        Belém
250  250         Abigail Orgeron  United States of America   Prior Lake
..   ...                     ...                       ...          ...
52    52         Zachary Bradley                     Spain       Madrid
304  304       Zachary Mulvahill  United States of America  Los Angeles
259  259       Zaghlool al-Pasha                     India       Deoria
175  175       Zahraaa el-Yousef                     India       Hospet
47    47                Zoe Kern  United States of America  West Jordan

     longitude gender  ethnic.group   age  english.grade  math.grade  \
172      77.58      M           NaN  21.0            3.4         3.0
204    -117.87      M           NaN  23.0            3.2         3.6
150      31.25      M           NaN  20.0            1.5         3.5
226     -48.48      F           NaN  24.0            3.4         3.0
250     -93.42      F           NaN  23.0            3.2         3.0
..         ...    ...           ...   ...            ...         ...
52       -3.69      M           NaN  21.0            3.5         3.5
304    -118.24      M           NaN  20.0            3.2         3.4
259      83.79      M           NaN  21.0            2.3         3.8
175      76.40      F           NaN  22.0            3.9         3.7
47     -111.94      F           NaN  22.0            2.1         4.0

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
172             3.6             3.0                 5                 5.0
204             3.7             5.0                 4                 5.0
150             3.2             3.0                 3                 5.0
226             2.1             4.0                 3                 3.0
250             3.8             5.0                 5                 5.0
..              ...             ...               ...                 ...
52              3.4             2.0                 3                 5.0
304             3.9             5.0                 5                 5.0
259             3.8             4.0                 5                 5.0
175             3.8             4.0                 4                 4.0
47              3.4             5.0                 4                 5.0

     refletter.rating
172                 4
204                 4
150                 4
226                 4
250                 4
..                ...
52                  5
304                 3
259                 5
175                 4
47                  4

[307 rows x 15 columns]

In [30]:
bb.isnull()

,id,student_name,nationality,city,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
172,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
150,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
226,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
250,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
304,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
259,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
175,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [39]:
import matplotlib.pyplot as plt

# Assuming 'bb' is your DataFrame

# Check if 'bb' DataFrame is empty or if 'city' column exists
if bb.empty or 'city' not in bb.columns:
    print("DataFrame is empty or 'city' column is missing. Cannot create bar chart.")
else:
    # Example 3: Bar chart of 'city' counts
    city_counts = bb['city'].value_counts()
    plt.figure(figsize=(8, 5))
    city_counts.plot(kind='bar')
    plt.xlabel('City')
    plt.ylabel('Count')
    plt.title('Bar Chart of City Counts')
    plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels
    plt.tight_layout()
    plt.show()

DataFrame is empty or 'city' column is missing. Cannot create bar chart.

In [71]:
df1=pd.read_csv('/content/student_info.csv')
print(df1)

   Student_ID           Name  Age  Gender  Class          Address
0           1       John Doe   16    Male     10     123 Main St.
1           2     Jane Smith   17  Female     11     456 Oak Ave.
2           3   Robert Brown   15    Male      9   789 Pine Blvd.
3           4  Emily Johnson   16  Female     10    321 Cedar Rd.
4           5  Michael Clark   17    Male     11    654 Maple St.
5           6    Sarah Davis   15  Female      9   987 Willow Dr.
6           7   Daniel Evans   16    Male     10    543 Birch Ln.
7           8  Olivia Harris   17  Female     11   876 Spruce Rd.
8           9  Sophia Wilson   16  Female     10    321 Aspen St.
9          10      James Lee   15    Male      9  876 Redwood Rd.

In [76]:
df2=pd.read_csv('/content/student_performance.csv')
print(df2)

   Student_ID           Name  Math_Score  Science_Score  English_Score  \
0           1       John Doe          85             90             78
1           2     Jane Smith          92             88             84
2           3   Robert Brown          76             80             70
3           4  Emily Johnson          88             91             85
4           5  Michael Clark          81             85             82
5           6    Sarah Davis          78             77             80
6           7   Daniel Evans          90             89             88
7           8  Olivia Harris          84             83             79
8           9  Sophia Wilson          87             86             83
9          10      James Lee          79             81             76

   Attendance (%)
0              95
1              98
2              90
3              96
4              93
5              89
6              97
7              92
8              94
9              88

In [79]:
result=pd.merge(df1,df2,on='Student_ID')
print(result)

   Student_ID         Name_x  Age  Gender  Class          Address  \
0           1       John Doe   16    Male     10     123 Main St.
1           2     Jane Smith   17  Female     11     456 Oak Ave.
2           3   Robert Brown   15    Male      9   789 Pine Blvd.
3           4  Emily Johnson   16  Female     10    321 Cedar Rd.
4           5  Michael Clark   17    Male     11    654 Maple St.
5           6    Sarah Davis   15  Female      9   987 Willow Dr.
6           7   Daniel Evans   16    Male     10    543 Birch Ln.
7           8  Olivia Harris   17  Female     11   876 Spruce Rd.
8           9  Sophia Wilson   16  Female     10    321 Aspen St.
9          10      James Lee   15    Male      9  876 Redwood Rd.

          Name_y  Math_Score  Science_Score  English_Score  Attendance (%)
0       John Doe          85             90             78              95
1     Jane Smith          92             88             84              98
2   Robert Brown          76             80             70              90
3  Emily Johnson          88             91             85              96
4  Michael Clark          81             85             82              93
5    Sarah Davis          78             77             80              89
6   Daniel Evans          90             89             88              97
7  Olivia Harris          84             83             79              92
8  Sophia Wilson          87             86             83              94
9      James Lee          79             81             76              88